<div  class="justify-content-center">
  <div class="card text-center">
    <div class="card-header">
      Online kórlap kezelő
    </div>
    <div class="card-body">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" routerLink="/registration" type="button">Regisztráció</button>
        <button class="btn btn-primary" routerLink="/login" type="button">Belépés</button>
      </div>
    </div>
    <div class="card-footer text-muted">
      Copyright ©2022 Enterprise INC.
    </div>
  </div>
</div>
